<% provide(:title, 'Blog') %>
<!-- Blog Grid Section -->
<div class="img-wide" id="blog"></div>
<div class="bg_1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Blog</h2>
                    <p class="section-subheading text-muted">unser Blog rund um unser Lieblingsgetränk</p>
                </div>
            </div>
<div class="col-sm-12 col-md-12 col-lg-8 col-lg-offset-2" id="feedek">
                <script type="text/javascript">
                     $('#feedek').FeedEk({
                       FeedUrl : 'http://aufeinbierchen-grillandbeer.blogspot.com/feeds/posts/default?alt=rss',
                       MaxCount : 5,
                       ShowDesc : true,
                       ShowPubDate:true,
                       TitleLinkTarget: '_self',
                        DateFormatLang:'de'
                    });
                </script>
            </div>
        </div>
      </div>