<% if logged_in? %>
<!-- User info -->
<section class="bg_1">
    <div class="container">
        <%= render 'shared/user_info' %>
    </div>
</section>
<!-- User info End -->
<section class="bg_2">
  <!-- New beers Section -->

    <div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <div class="lined-box">
                <div class="margin-space">
                <%= render 'shared/beer_form' %>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-8">
             <%= render 'shared/beer_wiki' %>
        </div>
    </div>
</div>
    </section>
<% else %>
<div class="bg_1">
<div class="container">
    <div class="col-lg-8 col-md-8 col-sm-6">
    <section>
    <div class="row">
    <div class="col-lg-6 col-md-6">
            <%= image_tag ('beer4.jpg'), class: 'img-width img-border' %>
        </div>
    <div class="col-lg-6 col-md-6">
    <p class="headline-red">Lorem ipsum</p>
    <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </p>
    </div>
    </div>
    <div class="row">
    <div class="col-lg-6 col-md-6">
    <p class="headline-green">Diam nonumy eirmod tempor</p>
    <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </p>
    </div>
    <div class="col-lg-6 col-md-6">
            <%= image_tag ('beer5.jpg'), class: 'img-width img-border' %>
        </div>
    </div>
    </section>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="bg_3">
        <div class="sidebar">
            <h1 class="page-header">Blog</h1>
            <div id="feedek">
                <script type="text/javascript">
                     $('#feedek').FeedEk({
                       FeedUrl : 'http://aufeinbierchen-grillandbeer.blogspot.com/feeds/posts/default?alt=rss',
                       MaxCount : 5,
                       ShowDesc : false,
                       ShowPubDate:true,
                       TitleLinkTarget: '_self',
                        DateFormatLang:'de'
                    });
                </script>
            </div>
        </div>
    </div>
    </div>
</div>
    </div>


<% end %>
