<% provide(:title, "Log in") %>
<div class="bg_1">
<div class="container">
<h1>Einloggen</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email, "E-Mail" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "Passwort" %>
      <%= link_to "(Passwort vergessen)", new_password_reset_path %>
      <%= f.password_field :password, class: 'form-control' %>
      
        <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Eingeloggt bleiben</span>
      <% end %>

      <%= f.submit "Einloggen", class: "btn btn-primary" %>
    <% end %>

      <p>Neu hier? <%= link_to "Account erstellen", signup_path %></p>
  </div>
</div>
</div>
</div>
