Hallo <%= @user.name %>,

Willkommen bei der Auf-ein-Bierchen-Community! Klicke auf den folgenden Link um deine Registrierung zu bestätigen:

<%= edit_account_activation_url(@user.activation_token, email: @user.email) %>
