<h1>Auf ein Bierchen</h1>

<p>Hallo <%= @user.name %>,</p>

<p>
Willkommen bei der Auf-ein-Bierchen-Community! Klicke auf den folgenden Link um deine Registrierung zu bestätigen:
</p>

<%= link_to "Aktivieren", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
