Um Ihr Passwort zurückzusetzen klicken Sie auf folgenden Link:

<%= edit_password_reset_url(@user.reset_token, email: @user.email) %>

Der Link verliert nach 2 Stunden seine Gültigkeit.

Falls Sie nicht beabsichtigen, Ihr Passwort zurückzusetzen, ignorieren Sie diese Mail. Ihr Passwort wird nicht geändert.
