<h1>Passwort zurücksetzen</h1>

<p>Um Ihr Passwort zurückzusetzen klicken Sie auf folgenden Link:</p>

<%= link_to "Passwort zurücksetzen", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>Der Link verliert nach 2 Stunden seine Gültigkeit.</p>

<p>
Falls Sie nicht beabsichtigen, Ihr Passwort zurückzusetzen, ignorieren Sie diese Mail. Ihr Passwort wird nicht geändert.
</p>
