<li>
  <%= gravatar_for user, size: 50 %>
    <span><%= link_to user.name, user %></span>
<% if current_user.admin? && !current_user?(user) %>
   <p><%= link_to "löschen", user, method: :delete,
                                data: { confirm: "Sind Sie sicher?" } %>
       </p>
  <% end %>
</li>
