<% provide(:title, "Edit user") %>
<h1>Profil bearbeiten</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
<%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name, "Neuer Name" %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email, "Neue E-Mail-Adresse" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "Neues Passwort" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Passwort wiederholen" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Änderungen speichern", class: "btn btn-primary" %>
    <% end %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">change</a>
    </div>
  </div>
</div>
