<% provide(:title, 'Alle Mitglieder') %>
    <div class="img-wide" id="members"></div>
    <div class="bg_1">
    <div class="container">
            <div class="col-lg-7 col-md-7 col-sm-6">
            <h2>Alle Mitglieder</h2>
            <div class="paginate">
            <%= will_paginate %>
                </div>
        <ul class="users">
            <%= render @users %>
        </ul>
            <div class="paginate">
            <%= will_paginate %>
            </div>
                </div>
            <div class="col-lg-5 col-md-5 col-sm-6">
                <h2>Top-Mitglieder</h2>
        
            </div>
        
</div>
</div>