<% provide(:title, 'Sign up') %>
<h1>Anmelden</h1>

<div class="container">
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :name, "Name"%>
<%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email, "E-Mail-Adresse" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "Passwort" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Passwort wiederholen" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Account erstellen", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
</div>