<% provide(:title, @user.name) %> 
<div class="bg_1">
<div class="container">
<div class="row">
  <aside class="col-md-2">
    <section class="user_info">
        <h1><%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
    <div class="col-md-10">
        <% if @user.beers.any? %>
        <div class="page-header">
        <h3>Biere (<%= @user.beers.count %>)</h3>
        </div>
      <div class="row">
<% @user.beers.each do |beer| %>
            <div class="col-md-6 col-lg-4 col-sm-6">
              <div class="card">
              <div class="row">
                <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                <div class="card-overlay-top">
                  <span class="badge-alcohol"><%= beer.alcohol %>%</span>
                </div>
                <div class="card-image">
                  <% if beer.picture? %>
                    <%= link_to (image_tag beer.picture.url, class: 'img-width'), beer if beer.picture? %>
                  <% else %>
                    <%= link_to (image_tag ('placeholder.jpg'), class: 'img-width'), beer %>
                  <% end %>
                </div>
              </div>
                <div class="card-content col-xs-5 col-sm-5 col-md-5 col-lg-5">
                  <div class="card-title">
                    <div>
                      <h3><%= beer.beername %></h3> 
                      <p class="brewery"><%= beer.brewery %></p>
                    </div>
                    <div class="card-footer">
                  <p><%= beer.beertype %></p>
                  <p><i class="fa fa-star" aria-hidden="true"></i> <%= beer.rating %></p>
                      <% if current_user?(beer.user) %>
                      <p><i class="fa fa-trash" aria-hidden="true"></i><%= link_to " löschen", beer, method: :delete,
                                       data: { confirm: "bist du sicher?" } %></p>
                      <% end %>
                </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
    <% end %>
     <% end %>
  </div>
</div>
</div>
</div>



