<%= form_for(@beer, html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form">
    <h3>Neues Bier erstellen</h3>

    <div class="control-group">
      <%= f.label "Name:", class: 'form-label' %>
      <%= f.text_field :beername %>
    </div>

    <div class="control-group">
      <%= f.label "Typ:", class: 'form-label' %>
      <%= f.select(:beertype, options_for_select([
          'Ale',
          'Alkoholfreies Bier',
          'Alkoholfreies Weizen',
          'Altbier',
          'Barleywine',
          'Belgisches Ale',
          'Belgisches Starkbier',
          'Bernstein Lager',
          'Bock',
          'Dunkles Lager',
          'Dunkles Weizen',
          'Export',
          'Festbier',
          'Helles Lager',
          'Helles Weizen',
          'India Pale Ale',
          'Keller/Zwickl',
          'Kristallweizen',
          'Kölsch',
          'Leichtbier',
          'Leichtes Weizen',
          'Märzen',
          'Pale Ale',
          'Pils',
          'Porter',
          'Rauchbier',
          'Stout',
          'Weizenbock'
        ]))
      %>
    </div>

    <div class="control-group">
      <%= f.label "Brauerei:", class: 'form-label' %>
      <%= f.text_field :brewery %>
    </div>

    <div class="control-group">
      <%= f.label "Alkoholgehalt:", class: 'form-label' %>
      <%= f.text_field :alcohol, placeholder: " %" %>
    </div>

    <div class="control-group">
      <%= f.label "Beschreibung:", class: 'form-label' %>
      <%= f.text_area :description, placeholder: "Details, Eindruck, weitere Infos" %>
    </div>

    <span class="picture">
      <%= f.label "Bild:", class: 'form-label' %>
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
    </span>

    <%= f.submit "Erstellen", class: "btn btn-primary" %>
  </div>
<% end %>

<script type="text/javascript">
  $('#beer_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Die maximale Bildgröße ist 5MB. Bitte wähle eine kleinere Datei.');
    }
  });
</script>
