<div class="panel panel-default">
    <div class="panel-heading">
    <h4>Die neueste Biere</h4>
    </div>
    <div class="panel-body">
        <div class="list-group">	
            <% @newest.each do |beer| %>
                    <li class="list-group-item">
                    		<div class="media">
                                <div class="beer-md col-md-4 col-lg-4 col-sm-5">
                                    <div>
                                        <% if beer.picture? %>
                                        <%= link_to (image_tag beer.picture.url, class: 'img-width'), beer %>
                                        <% else %>
                                        <%= link_to (image_tag ('placeholder.jpg'), class: 'img-width'), beer %>
                                        <% end %>
                                    </div>
                                </div>
                                <div class="col-md-8 col-lg-8 col-sm-7">
                                        <h4 class="beername"><%= beer.beername %></h4>
                                        <p class="brewery"><%= beer.brewery %></p>
                                        <p class="description"><%= beer.description %></p>
                                        <div class="clearfix">
                                        <span class="label label-large label-green"><%= beer.beertype %></span>
                                        <span class="label label-large label-red"><%= beer.alcohol %>%</span>
                                        <div class="well well-sm">
                                        <p class="date">gepostet von <%= beer.user.name %> am <%= beer.created_at.strftime("%d.%b %Y") %>.</p>
                                        </div>
                                        </div>
                                </div>
                            </div>
                            		
                        </li>
<% end %> 
 </div>                            
           </div>
            </div>                
