<div class="beer-wiki">
    <h2>Kleines Bier-Lexikon</h2>
    <div class="panel-body menu">
    <div class="panel list-group">
        <a href="#" class="list-group-item" data-toggle="collapse" data-target="#desc_export" data-parent="#menu"><h5>Export</h5></a>
        <div id="desc_export" class="sublinks collapse">
            <li class="list-group-item"><p>Sein Geruch ist stark malzbetont und nur leicht hopfig. Im Geschmack ist es vollmundig und würzig, nicht zu süß. Die Bittere ist mäßig (bis 22 Bittereinheiten). Rezenz ist spürbar vorhanden. Das Export ist ein helles Bier mit mind. 12 % Stammwürze und etwa 5,2 %vol Alkohol.</p></li>
        </div>
        <a href="#" class="list-group-item" data-toggle="collapse" data-target="#desc_porter" data-parent="#menu"><h5>Deutscher Porter</h5></a>
        <div id="desc_porter" class="sublinks collapse">
            <li class="list-group-item"><p>Obergärig, dunkles bis schwarzes Bier, mit süßlich röstiger Note. Kann auch in der Lausitzer Variante mit Zuckerzusatz sein. Dezente Hopfung, da die Bittere eher aus dem Röstmalz kommt. Stammwürze im Bereich 12 – 13 %. Die kommerziellen Porterbiere die man zu kaufen bekommt, sind in der Regel mit Zuckerzusatz gemacht.</p></li>
        </div>
        <a href="#" class="list-group-item" data-toggle="collapse" data-target="#desc_pils" data-parent="#menu"><h5>Pils</h5></a>
        <div id="desc_pils" class="sublinks collapse">
            <li class="list-group-item"><p>Sein Geruch wird von einer ausgeprägten Hopfenblume bestimmt. Im Geschmack ist es schlank, das heißt von geringer Süße bzw. Vollmundigkeit. Die Bittere (bis 35 Bittereinheiten) ist beim Pils angenehm feinherb, nicht nachhängend oder kratzig und regt zum Weitertrinken an. Der Trunk ist prickelnd rezent bzw. spritzig. Ein Pils ist von sehr heller Farbe und hat mindestens 11,0 % Stammwürze. Sein Alkoholgehalt liegt bei ca. 4,9 %vol.</p></li>
        </div>
        <a href="#" class="list-group-item" data-toggle="collapse" data-target="#desc_bock_hell" data-parent="#menu"><h5>Helles Bockbier</h5></a>
        <div id="desc_bock_hell" class="sublinks collapse">
            <li class="list-group-item"><p>Sein Geruch ist kräftig malzbetont und nur leicht hopfig. Im Geschmack ist ein Bock sehr vollmundig, hat eine durchaus spürbare Süße und ist dabei auch würzig. Die Bittere ist hoch (bis 40 Bittereinheiten), aber wegen der Süße nur zu erahnen. Rezenz ist spürbar vorhanden. Bock hat mind. 16 % Stammwürze, Doppelbock sogar mind. 18 % Stammwürze. Dies ergibt einen Alkoholgehalt von mehr als 7,0 %vol.</p></li>
        </div>
        <a href="#" class="list-group-item" data-toggle="collapse" data-target="#desc_bock_hell" data-parent="#menu"><h5>Helles Lager Bier</h5></a>
        <div id="desc_bock_hell" class="sublinks collapse">
            <li class="list-group-item"><p>Farbe stroh- bis goldgelb, leichter bis ausgeprägter Malzgeschmack, moderate Hopfenbittere bei leichtem Aroma, guter Kohlensäuregehalt, nicht fruchtig, fester Schaum. Ein eher leichter Körper und die wohldosierte Bittere geben ihm eine schlanke Frische. Manche Brauereien produzieren ihr Lager mit einer würzigen Hopfennase, andere setzen auf eher malzbetontes Bräu. Stammwürze: 11 - 13,5 %, Farbe (EBC) 8 - 15, Bittere (EBC) 20 – 30.</p></li>
        </div>
        <a href="#" class="list-group-item" data-toggle="collapse" data-target="#desc_alt" data-parent="#menu"><h5>Altbier</h5></a>
        <div id="desc_alt" class="sublinks collapse">
            <li class="list-group-item"><p>Farbe dunkelblond bis kupferbraun, moderater Malzgeschmack mit leichter Restsüße, ausgeprägte Hopfenbittere, wenig Aroma, trockenes Finish, mittlerer Kohlensäuregehalt. Altbier ist das berühmte Pendant zum englischen Ale. Im Gegensatz zu seinem angelsächsischen Verwandten ist Ale weniger malzig und sehr hoch vergoren. Die Verwendung von hocharomatischen Hopfensorten ergibt eine delikate Bittere, die in drei bis fünf Gaben erreicht wird. Das norddeutsche Altbier ist weniger bitter als das Düsseldorfer Original. Stammwürze 10 – 14 %, Farbe (EBC) 20 - 50, Bittere (EBC) 25 – 45.</p></li>
        </div>
        <a href="#" class="list-group-item" data-toggle="collapse" data-target="#desc_maerzen" data-parent="#menu"><h5>Märzen</h5></a>
        <div id="desc_maerzen" class="sublinks collapse">
            <li class="list-group-item"><p>Märzentypisch ist die mittlere Vollmundigkeit. Der süße Malzgeschmack sollte über die reine, edle Hopfenbittere dominieren. Der Malzcharakter sollte dagegen eher röstig als zu harmonisch sein. Hopfenaroma und –geschmack sollten zwar vorhanden, aber nicht zu stark sein. Fruchtige Ester sind nicht erwünscht. Das untergärige Märzen ist ein kräftig malzsüßes und süffiges Bier. Stammwürze zwischen 12,5 und 14 %.</p></li>
        </div>
            <a href="#" class="list-group-item" data-toggle="collapse" data-target="#desc_rauch" data-parent="#menu"><h5>Dunkles Rauchbier</h5></a>
        <div id="desc_rauch" class="sublinks collapse">
            <li class="list-group-item"><p>Mittlere Vollmundigkeit mit malziger Note (nicht zu Vollmundig), der Rauchgeschmack kann von leicht bis kräftig variieren, soll aber bemerkbar sein. Wenig gehopft, untergärig mit mittlerer Rezens. Stammwürze zwischen 11 und 12,9 %.</p></li>
        </div>
            <a href="#" class="list-group-item" data-toggle="collapse" data-target="#desc_schwarz" data-parent="#menu"><h5>Schwarzbier</h5></a>
        <div id="desc_schwarz" class="sublinks collapse">
            <li class="list-group-item"><p>Tief dunkle Farbe, vom Geschmack aber nicht zu malzig und kräftig. Stammwürze 11 – 12,5 %, untergärig, eher weniger gehopft und von mittlerer Rezenz. Die Farbe kommt in der Regel von Farbmalz oder Farbebier.
            </p></li>
        </div>
            <a href="#" class="list-group-item" data-toggle="collapse" data-target="#desc_roggen" data-parent="#menu"><h5>Roggenbier, bernsteinfarben</h5></a>
        <div id="desc_roggen" class="sublinks collapse">
            <li class="list-group-item"><p>Mindestens 30% Roggenanteil, bernsteinfarben, Stammwürze zwischen 11 und 12,9 %, obergärig, gerne auch mit einer Alt- oder Kölsch-Hefe. Der kräftige Roggencharakter sollte deutlich zu schmecken sein (brotig, malzig), nicht zu bitter und nicht zu rezent.
            </p></li>
        </div>
        <a href="#" class="list-group-item" data-toggle="collapse" data-target="#desc_dry" data-parent="#menu"><h5>Dry Stout</h5></a>
        <div id="desc_dry" class="sublinks collapse">
            <li class="list-group-item"><p>Farbe tief dunkelbraun bis schwarz, ausgeprägte Röstaromen, leichte Malzsüße, betonte Bittere, kein Hopfenaroma, leicht fruchtiges Bouquet, mäßiger Kohlensäuregehalt, cremiger Schaum. Stout ist der Inbegriff vom dunklen Bier. Das Aroma wird dominiert von der Verwendung verschiedener, dunkler gerösteten Malz- oder Getreidesorten. Dry Stout ist nicht übermäßig malzbetont, eine schwache Süße ist aber o.k. Die kräftige Bittere stammt sowohl vom Hopfen als auch vom sehr stark gerösteten Malz. Hopfenaroma ist beim Dry Stout nicht erwünscht. Außer Dry Stout gibt es noch Imperial Stout (sehr stark und bitter) sowie Sweet Stout (Mild, süßlich). Stammwürze: 10 - 13%, Farbe (EBC) 80plus, Bittere (EBC) 25 - 50
            </p></li>
        </div>
        <a href="#" class="list-group-item" data-toggle="collapse" data-target="#desc_weizenbock" data-parent="#menu"><h5>Heller Weizenbock</h5></a>
        <div id="desc_weizenbock" class="sublinks collapse">
            <li class="list-group-item"><p>Vollmundig, nicht spritzig und schwach gehopft. Farbe hell, bis max. goldgelb, tiefes Gold bis max leicht bernsteinfarben. Angenehme gute Rezens. Obergärig, leicht bananiger Geschmack. Stammwürze mind. 16 %.
            </p></li>
        </div>
  </div>

      
    </div>
<script type="text/javascript">
  $('#beer_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Die maximale Bildgröße ist 5MB. Bitte wähle eine kleinere Datei.');
    }
  });
</script>