<div class="panel panel-default">
    <div class="panel-heading">
    <h4>Unsere Top 5</h4>
    </div>
    <div class="panel-body">
        <table class="table table-hover">
            <% @top5.each do |beer| %>
                        <tr>
                            <td><h4><%= beer.beername %></h4></td>
                            <td><%= beer.brewery %></td>
                            <td><%= beer.beertype %></td>
                            <td><%= beer.alcohol %>%</td>
                        </tr>
            <% end %> 
            </table>
        </div>
</div>

