<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
        Die Eingabe enthält <%= pluralize(object.errors.count, "Fehler") %>.
    </div>
    <ul>
   <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>