<div>
	<div>   
        <div class="col-md-12">
             <%= link_to gravatar_for(current_user), current_user,:class => "img_circle" %>
            <h4><%= current_user.name %></h4>
            <span><%= link_to "Mein Profil", current_user %></span>
        </div>
</div>
</div>
