 <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag beer.picture.url if beer.picture? %>
      <div class="caption">
        <h3 class="beername"><%= beer.beername %></h3>
        <h4 class="beertype"><%= beer.beertype %></h4>
        <p class="alcohol"><%= beer.alcohol %> %</p>
        <p class="stars"><%= rating_for beer, "starrating", :star => 10 %></p>
        <span>
            <% if current_user?(beer.user) %>
            <%= link_to "löschen", beer, method: :delete,
                data: { confirm: "Bist du sicher?" } %>
            <% end %>
        </span>
      </div>
    </div>
  </div>