 <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag beer.picture.url if beer.picture? %>
      <div class="caption">
        <h3 class="beername"><%= beer.beername %></h3>
        <h4 class="beertype"><%= beer.beertype %></h4>
        <p class="alcohol"><%= beer.alcohol %> %</p>
        <p class="stars"><%= rating_for beer, "starrating", :star => 10 %></p>
        <span>
            <% if current_user?(beer.user) %>
            <%= link_to "löschen", beer, method: :delete,
                data: { confirm: "Bist du sicher?" } %>
            <% end %>
        </span>
      </div>
    </div>
  </div>

<li class="list-group-item beer-md">
                    		<table>
                        		<tr valign="top">
                        			<td class="col_hide" style="padding-right:60px">
                            			<%= image_tag beer.picture.url if beer.picture? %>
                            		</td>
                            		<td>
                            			<table>
                                			<tr>
                                				<%= link_to <%= beer.beername %>, beer_path %>
                            				</tr>
                            				<tr>
                                                <p class="beertype"><%= beer.beertype %></p>
                                			</tr>
                                			<tr>
                                                <p class="brewery"><%= beer.brewery %></p>
                                			</tr>
                                			<tr>
                                				<p class="alcohol"><%= beer.alcohol %> %</p>
                                			</tr>
                                			<tr>
                                                <p class="description"><%= beer.description %></p>
                                			</tr>
                                			<tr>
                                                <p class="date">gepostet von <%= link_to <%= beer.user %>, user_path %> am <%= beer.created_at %></p>
                                			</tr>
                               			</table>
                            		</td>
								</tr>
                                 	
                    		</table>
                		</li>