<li class="list-group-item beer-sm">
                      	<h3 class="beername"><%= beer.beername %></h3>
                        <p class="beertype"><%= beer.beertype %></p>
                        <p class="brewery"><%= beer.brewery %></p>
                        <p class="alcohol"><%= beer.alcohol %> %</p>
                       </li>