<% provide(:title, 'Alle Biere') %>
<div class="img-wide" id="beers"></div>
<div class="bg_1">
  <div class="container">
    <%= link_to "Neues Bier anlegen", root_path, :class=>"btn btn btn-outlined btn-block btn-outlined-red" %>
  </div>
</div>
<div class="bg_2">
  <div class="container beer-gallery">
          <h1>Die neuesten Biere</h1>
          <% @newest.each do |beer| %>
            <div class="col-md-4 col-lg-4 col-sm-6">
              <div class="card">
                <div class="row">
                  <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                    <div class="card-overlay-top">
                      <span class="badge-alcohol"><%= beer.alcohol %>%</span>
                    </div>
                    <div class="card-image">
                      <div class="img-width">
                        <% if beer.picture? %>
                          <%= link_to (image_tag beer.picture.url), beer if beer.picture? %>
                        <% else %>
                          <%= link_to (image_tag ('placeholder.jpg')), beer %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                <div class="card-content col-xs-5 col-sm-5 col-md-5 col-lg-5">
                  <div class="card-title">
                    <div>
                      <h3><%= beer.beername %></h3>
                      <p class="brewery"><%= beer.brewery %></p>
                    </div>
                    <div class="card-footer">
                      <p><%= beer.beertype %></p>
                      <p><i class="fa fa-star" aria-hidden="true"></i> <%= beer.rating %></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
          <% end %>
        </div>
      </div>