<% provide(:title, 'Neues Bier erstellen') %>
<div class="bg_1">
    <div class="container">
        <h1>Neues Bier erstellen</h1>
        <section class="beer_form">
            <div class="col-12-md">
                <%= render 'shared/beer_form' %>
            </div>
        </section>
    </div>
</div>