<% provide(:title, @beer.beername) %>
<section class="bg_1">
    <div class="container">
        <div class="col-lg-4 col-md-4 col-sm-4">
            <%= link_to (image_tag @beer.picture.url, class: 'img-width img-border'), @beer if @beer.picture? %>
            </div>
          <div class="caption col-lg-4 col-md-4 col-sm-4">
            <h3 class="beername"><%= @beer.beername %></h3>
            <h4 class="beertype"><%= @beer.beertype %></h4>
            <p class="alcohol"><%= @beer.alcohol %> %</p>
            <span>Farbe:</span>
              <!--
                <div class="progress">
                    <div class="progress-bar progress-bar-red" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="5">
                    </div>
                </div>
-->
              <span>
                <% if current_user?(@beer.user) %>
                <%= link_to "löschen", @beer, method: :delete,
                    data: { confirm: "Bist du sicher?" } %>
                <% end %>
            </span>
          </div>
        <div>
             <% if current_user %>
            <div class="caption col-lg-4 col-md-4 col-sm-4">
                <h4>Bier bewerten</h4>
                   
                <% end %>
                </div>
        </div>
    </div>
</section>

