@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
	-moz-box-sizing:    border-box;
	-webkit-box-sizing: border-box;
	box-sizing:         border-box;
}

/* universal */

body {
		padding-top: 140px;
		/*background-image: url("HAZEL.jpg");
		background-repeat: repeat;
		background-attachment:scroll;
	background-position: top;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
		overflow-x: hidden; */
		font-family: 'Open Sans', sans-serif;
}

.bg_1 {
		background-image: url("med_bg.png"); 
		padding-top: 40px;
		padding-bottom: 40px;
}
.bg_2 {
		background-image: url("light_bg.png"); 
		padding-top: 40px;
		padding-bottom: 40px;
}
.bg_3 {
		background-image: url("med2_bg.png"); 
		padding-top: 40px;
		padding-bottom: 40px;
}


#bodyWrap {
		background-color: white;
		margin: 0 auto;
		max-width: 1250px;
		min-height: 100%;
		overflow-x: hidden;
		-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 4 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.page-header {
		margin-top: 0px!important;
		padding-top: 0px!important;
		border-bottom-color: #bdb7a3!important;
		border-bottom-width: 5px!important;

}
.well {
		margin-top: 40px!important;
		margin-bottom: 30px;
}

.beer-md {
		padding: 0px!important;
		margin: 0px!important;
}
.text-muted {
	color: #373727
}
.text-primary {
	color: #e11f0b
}

section h2.section-heading {
	font-size: 40px;
	margin-top: 0;
	margin-bottom: 30px
}
section h3.section-subheading {
	font-size: 16px;
	font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: none;
	font-style: italic;
	font-weight: 400;
	margin-bottom: 75px
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}

/* typography */

h4, h5, h6 {
		color: #373727;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800
}

h1, h2, h3 {
		color: #373727;
	font-family: 'Bevan', cursive;
	font-weight: 400;
}
h1, h2 {
		padding-top: 30px;
	padding-bottom: 20px;
		text-align: center;
}
p {
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		 font-size: 14px;
		 color:#373727;
}
p.description{
	color:#aaa;
}
p.date{
	font-size: 12px;
	color: #373727;
}
p.large {
	font-size: 16px
}
a, a:hover, a:focus, a:active, a.active {
	outline: 0
}
a {
	color: #373727;
}
a:hover, a:focus, a:active, a.active {
	color: #e11f0b;
	font-weight: 400;
		text-decoration: none;
	
}
.headline-red {
		color: #e11f0b;
	font-family: 'Bevan', cursive;
	font-weight: 400;
		font-size: 30px;
}
.headline-green {
		color: #55551d;
	font-family: 'Bevan', cursive;
	font-weight: 400;
		font-size: 30px;
}

.lined-box {
		border:3px dashed #e1dfdc;
		background-image: url("med_bg.png");
		padding: 20px;
}
.margin-space {
		margin: 10px;
}

form label {
		font-family: 'Open Sans', sans-serif;
		text-transform: uppercase;
		font-weight: black;
		font-size: 11pt;
		color: #55551d;
		padding-top: 2px;
}
.label-sm {
		text-transform:none;
		font-weight: 400;
		font-size: 12pt;
}

.f {
		padding: 5px;
		margin: 2px;
		font-family: 'Open Sans', sans-serif;
		font-weight: normal;
		font-size: 11pt;
		color: #373727;
}

.f.select {
	 color: #373727;   
}
.beer-bg {
		background-image: url("beer.jpg");
		background-position: center;
		width: 100%;
}
.beer_form {
		margin-top: 20px;
 background-image: url("beer.jpg");
background-repeat: none;
		background-attachment: scroll;
	background-position: top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
/* header */

#logo {
	float: left;
	margin-right: 10px;
	color: white;
	padding-top: 15px;
font-family: 'Coustard', serif;
font-size: 16pt;
line-height: 1;
	&:hover {
		color: white;
		text-decoration: none;
	}
}

/*blogg*/
.feedEkList ul {
	padding-left: 20px;
	padding-right: 20px
}
.feedEkList li{border-bottom:1px solid #D3CAD7; padding:5px; text-decoration: none; list-style-type: none}
.feedEkList li:last-child{border-bottom:none;}
.itemTitle a{font-family: 'Open Sans', sans-serif; font-weight:bold; font-size:16px; color:#373727 !important; text-decoration:none }
.itemTitle a:hover{ color: #e11f0b }
.itemDate{font-size:12px;color:black;}

.content {
	margin-top: 30px;
}
td {
}
/* Note: Design for a width of 320px */
@media all and (max-width: 500px) {
		td.col_hide{
				display:none;
				width:0;
				height:0;
				opacity:0;
				visibility: collapse;
		}    
}

.feedEkList {
	padding: 0px;
}

.feedEkList li {
	margin: 20px
}

.itemTitle a:first-child{
	color: #373727;
	font-family: 'Bevan', cursive;
	font-weight: 400;
	font-size: 20px
}

.itemDate {
	font-style: italic;
	margin-bottom: 10px;
	margin-top: 5px
}

.itemContent a{
	font-size: 14px;
	display: inline !important;
	font-weight: 700;
	color: #55551d
}

.itemContent a:hover{
	color: #e11f0b
}

.itemContent span {
	font-family: 'Open sans', sans-serif !important;
	font-size: 14px!important;
	display: inline !important;
	line-height: 1.5;
	color: #333333;
}

.itemContent ul {
	padding: 0px;
	li {
		list-style-type: disc 
	}
}

.top-buffer { 
	margin-top:30px; 
}

.bottom-buffer {
	margin-bottom: 30px;
}
.panel-beer {
	border-color: #ddd;
}

.panel-beer > .panel-heading + .panel-collapse > .panel-body {
	border-top-color: #ddd;
}
.panel-beer > .panel-heading .badge {
	color: #f5f5f5;
	background-color: #333;
}
.panel-beer > .panel-footer + .panel-collapse > .panel-body {
	border-bottom-color: #ddd;
 }
.panel-green {
 background-color: #7b9500;
}
.rotate90 {
	-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
}
.img-centered {
	margin: 0 auto
}
.img-width img {
		image-orientation: from-image;
		width: 100%;
}
.img-height {
		height: 100%;
}
.img-wide {
width:100%;
	height:300px;
	background-size:cover;
	@media only screen and (max-width: 768px) {
	height:150px;
	}
}
.img-square {
		width: 180px;
		height: 180px;
		overflow: hidden;
}
.card .card-image {
		width: 100%;
}

.tabs-left { margin-top: 3rem; }

.nav-tabs {
	float: left;
	border-bottom: 0;
	

	li {
		float: none;
		margin: 0;
		
		a {
			margin-right: 0;
			border: 0;
			background-color: #333;
			
			&:hover {
				background-color: #444;
			}
		}
	}
	
}

#members {
		background-image: url("members.jpg");
		background-position: center;
}
#beers {
		background-image: url("beer7.jpg");
			background-position: center;
}
#blog {
		background-image: url("beer8.jpg");
			background-position: center;
}
.blogpic {
	position: absolute;
	display: block; max-width: 100%;
	 }

.crop-height {
	max-height: 200px;
	overflow: hidden;	
}
img.tablescale {
 max-height: 250px;
	max-width: 100%;
	height: auto;
}
img.scale {
	/* corrects inline gap in enclosing div */
	display: block;
	max-width: 100%;
	/* just in case, to force correct aspect ratio */
	height: auto !important;
	width: auto\9; /* ie8+9 */
	/* lt ie8 */
	-ms-interpolation-mode: bicubic; 
}
.bg-light-gray {
	background-color: #f7f7f7
}
.bg-darkest-gray {
	background-color: #222
}
.btn-primary {
	color: #fff;
	background-color: #e11f0b;
	border-color: #e11f0b;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-weight: 700
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
	color: #fff;
	background-color: #e11f0b;
	border-color: #e11f0b
}
.btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
	background-image: none
}
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
	background-color: #e11f0b;
	border-color: #e11f0b
}
.btn-primary .badge {
	color: #e11f0b;
	background-color: #fff
}
.btn-xl {
	color: #fff;
	background-color: #e11f0b;
	border-color: #e11f0b;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	border-radius: 3px;
	font-size: 18px;
	padding: 20px 40px
}
.btn-xl:hover, .btn-xl:focus, .btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl {
	color: #fff;
		font-family: 'Open Sans', sans-serif;
		font-weight: 700;
	background-color: #a91708;
	border-color: #a91708
}
.btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl {
	background-image: none
}
.btn-xl.disabled, .btn-xl[disabled], fieldset[disabled] .btn-xl, .btn-xl.disabled:hover, .btn-xl[disabled]:hover, fieldset[disabled] .btn-xl:hover, .btn-xl.disabled:focus, .btn-xl[disabled]:focus, fieldset[disabled] .btn-xl:focus, .btn-xl.disabled:active, .btn-xl[disabled]:active, fieldset[disabled] .btn-xl:active, .btn-xl.disabled.active, .btn-xl[disabled].active, fieldset[disabled] .btn-xl.active {
	background-color: #e11f0b;
	border-color: #e11f0b
}
.btn-xl .badge {
	color: #e11f0b;
	background-color: #fff
}
.btn:focus, .btn:active, .btn.active, .btn:active:focus {
	outline: 0
}

.btn-outlined {
		border-radius: 0;
		-webkit-transition: all 0.3s;
			 -moz-transition: all 0.3s;
						transition: all 0.3s;
}
.btn-outlined.btn-primary {
		background: none;
		border: 3px solid #428bca;
		color: #428bca;
}
.btn-outlined.btn-primary:hover,
.btn-outlined.btn-primary:active {
		color: #FFF;
		background: #428bca;
		border-color: #428bca;
}

.btn-outlined.btn-success {
		background: none;
		border: 3px solid #5cb85c;
		color: #5cb85c;
}
.btn-outlined.btn-success:hover,
.btn-outlined.btn-success:active {
		color: #FFF;
		background: #47a447;
}

.btn-outlined.btn-info {
		background: none;
		border: 3px solid #5bc0de;
		color: #5bc0de;
}
.btn-outlined.btn-info:hover,
.btn-outlined.btn-info:active {
		color: #FFF;
		background: #39b3d7;
}

.btn-outlined.btn-warning {
		background: none;
		border: 3px solid #f0ad4e;
		color: #f0ad4e;
}
.btn-outlined.btn-warning:hover,
.btn-outlined.btn-warning:active {
		color: #FFF;
		background: #ed9c28;
}

.btn-outlined.btn-danger {
		background: none;
		border: 3px solid #d9534f;
		color: #d9534f;
}
.btn-outlined.btn-danger:hover,
.btn-outlined.btn-danger:active {
		color: #FFF;
		background: #d2322d;
}
.btn-outlined-red {
		font-weight: 700;
		text-transform: uppercase;
		background: none;
		border: 3px solid #e11f0b;
		color: #e11f0b;  
}
.btn-outlined-red:hover {
		background: #e11f0b;
		color: #FFF;  
}

.btn-outlined-green {
		font-weight: 700;
		text-transform: uppercase;
		background: none;
		border: 1px solid #55551d;
		color: #55551d;  
}
.btn-outlined-green:hover {
		background: #55551d;
		color: #FFF;  
}


/* navbar */
.top {
		background-image: url(beer-foam.jpg);
		background-size: cover;
		background-position: center;
		width: 100%;
		height: 250px;
		margin: 0px;
		padding: 0px;
}
.navbar-default {
		-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
		-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
		box-shadow: 4 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	background-color: #e1dfdc;
		background-image:url(light_bg.png);
	border-color: transparent
}
#bs-example-navbar-collapse-1 {
		position: relative;
}
#bs-example-navbar-collapse-1 .nav {
	 position: absolute; 
		bottom: 0; 
		right: 0;
}
.navbar-default .navbar-brand {
	color: #373727;
	font-family: 'Bevan', cursive;
	font-weight: bold;
	text-transform: uppercase;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:active, .navbar-default .navbar-brand.active {
	color: #e11f0b
}
.navbar-default .navbar-collapse {
	border-color: rgba(255,255,255,.02)
}
.navbar-default .navbar-toggle {
	background-color: #e11f0b;
	border-color: #e11f0b
}
.navbar-default .navbar-toggle .icon-bar {
	background-color:  #e1dfdc
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #e11f0b
}
.navbar-default .nav li a {
	font-family: 'Bevan', cursive;
		font-size: 18px;
	font-weight: 400;
	letter-spacing: 1px;
	color: #373727;
}
.navbar-default .nav li .dropdown-menu a  {
		font-family: 'Open Sans', sans-serif;
		font-size: 15px;
	color: #373727;
}

.navbar-default .nav li .dropdown-menu {
		background-color: #333;
		background-image: url("light_bg.png");
		border: 0px;
}
.navbar-default .nav li a:hover, .navbar-default .nav li a:focus {
	color: #e11f0b;
	outline: 0
}
.navbar-default .navbar-nav>.active>a {
	border-radius: 0;
	color: #fff;
	background-color: #e11f0b
}
.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	color: #fff;
	background-color: #e11f0b
}

@media (min-width:768px) {
.navbar-default {

	padding: 0;
	-webkit-transition: padding .3s;
	-moz-transition: padding .3s;
	transition: padding .3s;
	border: 0
}
.navbar-default .navbar-brand {
	font-size: 2em;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s
}
.navbar-default .navbar-nav>.active>a {
	border-radius: 3px
}
.navbar-default.navbar-shrink {
	background-color: #222;
	padding: 10px 0
}
.navbar-default.navbar-shrink .navbar-brand {
	font-size: 1.5em
}
}
.logo {
 position: fixed;
 top: 1em;
 left: 1em;
 display: inline;
}

/* header */
header {
		padding-top: 140px;
	background-image: url("cheers.jpg");
		width: 100%;
		background-repeat: none;
	background-attachment: scroll;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	text-align: center;
	color: #fff;
}
header .intro-text {
	padding-top: 100px;
	padding-bottom: 50px
}
header .intro-text .intro-lead-in {
	font-family: 'Open Sans', sans-serif;
		font-weight: 300;
	font-size: 22px;
	line-height: 22px;
	margin-bottom: 25px
}
header .intro-text .intro-heading {
	font-family: 'Bevan', cursive;
	font-weight: 400;
	font-size: 50px;
	line-height: 50px;
	margin-bottom: 25px
}


/* footer */

footer {
		background-image: url("bg_footer.png");
	padding: 25px 0;
	text-align: center;
}
footer span.copyright {
	line-height: 40px;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	text-transform: none
}
footer ul.quicklinks {
	margin-bottom: 0;
	line-height: 40px;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	text-transform: none
}
ul.social-buttons {
	margin-bottom: 0
}
ul.social-buttons li a {
	display: block;
	background-color: #222;
	height: 40px;
	width: 40px;
	border-radius: 100%;
	font-size: 20px;
	line-height: 40px;
	color: #fff;
	outline: 0;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s
}
ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
	background-color: #e11f0b
}

/* miscellaneous */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

/* sidebar */

aside {
	section.user_info {
		padding-top: 40px;
	}
	section {
		padding: 10px 0 10px 0;
		margin-top: 20px;
		&:first-child {
			border: 0;
			padding-top: 0;
		}
		span {
			display: block;
			margin-bottom: 3px;
			line-height: 1;
		}
		h1 {
			font-size: 1.4em;
			text-align: left;
			letter-spacing: -1px;
			margin-bottom: 3px;
			margin-top: 0px;
		}
	}
}

.gravatar {
	float: left;
	margin-right: 10px;
}

.gravatar_edit {
	margin-top: 15px;
}

input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	margin-bottom: 15px;
	@include box_sizing;
}

input {
	height: auto !important;
}

.input-group-addon {
	 line-height: normal;
		margin-bottom: 0px;
}
#error_explanation {
	color: red;
	ul {
		color: red;
		margin: 0 0 30px 0;
	}
}

.field_with_errors {
	@extend .has-error;
	.form-control {
		color: $state-danger-text;
	}
}

.checkbox {
	margin-top: -10px;
	margin-bottom: 10px;
	span {
		margin-left: 20px;
		font-weight: normal;
	}
}

#session_remember_me {
	width: auto;
	margin-left: 0;
}

/* Users index */

.users {
	list-style: none;
	margin: 0;
	li {
		overflow: auto;
		padding: 10px 0;
		border-bottom: 1px solid $gray-lighter;
	}
}

/* beers */
.beers {
	list-style: none;
	padding: 0;
	li {
		padding: 10px 0;
		border-top: 1px solid #e8e8e8;
	}
	.user {
		margin-top: 5em;
		padding-top: 0;
	}
	.content {
		display: block;
		margin-left: 60px;
		img {
			display: block;
			padding: 5px 0;
		}
	}
	.timestamp {
		color: $gray-light;
		display: block;
		margin-left: 60px;
	}
	.gravatar {
		float: left;
		margin-right: 10px;
		margin-top: 5px;
	}
}


aside {
	textarea {
		height: 100px;
		margin-bottom: 5px;
	}
}

span.picture {
	margin-top: 10px;
	input {
		border: 0;
	}
}

/* panels */
.panelD {
		margin: 20px 0px 20px 0px;
}

.panelD .panel-heading, .panelD .panel-footer {
		background-color: #e1dfdc !important;
}

.panel-image img.panel-image-preview {
		width: 100%;
	border-radius: 4px 4px 0px 0px;
}

.panel-heading ~ .panel-image img.panel-image-preview {
	border-radius: 0px;
}

.panel-heading .list-inline {
		margin: 0px 0px 0px -5px !important;
}

.panel-body {
		display: block;
}


.panel-image ~ .panel-footer a {
	padding: 0px 10px;
	color: rgb(100, 100, 100);
}

.panel-image ~ .panel-footer span {
		color: rgb(100, 100, 100);    
}


.panel-image.hide-panel-body ~ .panel-body {
	height: 0px;
	padding: 0px;
}

.list-group-item a{
		border: 1px solid #55551d;
		border-top-style: none;
		border-right-style: none;
		border-left-style: none;
}
.beer-wiki .panel{
		background-color: transparent;
}

::-moz-selection {
text-shadow:none;
background:#e11f0b
}
::selection {
	text-shadow: none;
	background: #e11f0b
}
img::selection {
	background: 0 0
}
img::-moz-selection {
background:0 0
}

.img-border {
		border: 10px solid #c7c2b2; 
}

/* cards */
.card {
		padding: 10px;
		padding-top: 15px;
		padding-bottom: 30px;
	}


.card .card-image{
		position: relative;
		height: 230px;
		z-index: 1;
		overflow: hidden;
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		-ms-transform-style: preserve-3d;
		-o-transform-style: preserve-3d;
		transform-style: preserve-3d;
		
}

.card .badge-alcohol {
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
		background-color: #952a05;
		padding: 3px;
}



.card .card-image img{
		
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
}

.card .card-image:hover img{
		-webkit-transform: scale(1.2) rotate(-7deg);
		-moz-transform: scale(1.2) rotate(-7deg);
		-ms-transform: scale(1.2) rotate(-7deg);
		-o-transform: scale(1.2) rotate(-7deg);
		transform: scale(1.2) rotate(-7deg);
}

.card .card-overlay-bottom {
		height: 20px;
		align-content: center;
		background-color: #55551d;
		position: relative;
		text-align: center;
		width: 100%;
}

.card .card-overlay-top {
		z-index: 3;
		position: relative;
		margin: 0 auto;
		margin-bottom: -20px;
		text-align: right;
		width: 100%;
}

.card .card-overlay-top span {
		margin-right: 20px;
		opacity: 0.9;
		font-size: 15px;
		font-weight: 800;
		text-transform: uppercase;
		color: #fff !important;
}

.card .card-overlay-bottom span {
		margin-left: 10px;
		margin-right: 10px;
		opacity: 0.9;
		font-size: 15px;
		line-height: 20px;
		height: 20px;
		font-weight: 800;
		text-transform: uppercase;
		color: #fff !important;
}

.card{
		font-family: 'Open Sans', sans-serif;
		position: relative;
}

.card h3 {
		font-family: 'Open Sans', sans-serif;
		text-transform:uppercase;
		font-size: 20px;
		font-weight: 800;
		margin-top: 10px
}

.card .card-content {
		text-align: left;
		padding-left: 5px   
}

.card .card-content .card-title, .card-reveal .card-title{
		font-size: 24px;   
}

.card .card-action{
		padding: 20px;
		border-top: 1px solid rgba(160, 160, 160, 0.2);
}
.card .card-action a{
		font-size: 15px;
		color: #ffab40;
		text-transform:uppercase;
		margin-right: 20px;    
		-webkit-transition: color 0.3s ease;
		-moz-transition: color 0.3s ease;
		-o-transition: color 0.3s ease;
		-ms-transition: color 0.3s ease;
		transition: color 0.3s ease;
}
.card .card-action a:hover{    
		color:#ffd8a6;
		text-decoration:none;
}

.card .card-reveal{    
		padding: 20px;
		position: absolute;
		background-color: #FFF;
		width: 100%;
		overflow-y: auto;
		/*top: 0;*/
		left:0;
		bottom:0;
		height: 100%;
		z-index: 1;
		display: none;    
}

.card .card-reveal p{
		color: rgba(0, 0, 0, 0.71);
		margin:20px ;
}

.label-green,
.badge-green { 
		background-color: #7b9500!important;
		font-size: 12px;
		margin: 5px;
}

p.brewery {
		margin-top: -5px;
}

.label-red,
.badge-red { 
		background-color: #e11f0b!important;
		font-size: 12px;
		margin: 5px;
}

.card-footer {
		border-top: 1px solid #9b9b9b;
		padding-top: 10px;
		margin-bottom: -10px;
}

.progress-bar-red {
		background-image: none;
		background-color: #e11f0b!important;
		
}


/* pagination */
.paginate .pagination li a {
		background-color: transparent;
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
		font-weight: 700;
		color: #373727;
}
.paginate .paginaton>.active>a {
		background-color: #55551d!important;
		border-color: #55551d!important;
}

.users li span a {
		font-family: 'Open Sans', sans-serif;
		font-weight: 700;
		font-size: 16px;
}

/* icofont */
@font-face {
		font-family: 'icofont';
		src: url('../fonts/icofont.eot?v=1.0.0-alpha');
		src: url('../fonts/icofont.eot?v=1.0.0-alpha#iefix') format('embedded-opentype'),
		url('../fonts/icofont.ttf?v=1.0.0-alpha') format('truetype'),
		url('../fonts/icofont.woff?v=1.0.0-alpha') format('woff'),
		url('../fonts/icofont.svg?v=1.0.0-alpha#icofont') format('svg');
		font-weight: normal;
		font-style: normal;
}

.icofont {
		font-family: 'IcoFont' !important;
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;

		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
}
.icofont-apple:before {
	content: "\ec25";
}
.icofont-arabian-coffee:before {
	content: "\ec26";
}
.icofont-artichoke:before {
	content: "\ec27";
}
.icofont-asparagus:before {
	content: "\ec28";
}
.icofont-avocado:before {
	content: "\ec29";
}
.icofont-baby-food:before {
	content: "\ec2a";
}
.icofont-banana:before {
	content: "\ec2b";
}
.icofont-bbq:before {
	content: "\ec2c";
}
.icofont-beans:before {
	content: "\ec2d";
}
.icofont-beer:before {
	content: "\ec2e";
}
.icofont-bell-pepper-capsicum:before {
	content: "\ec2f";
}
.icofont-birthday-cake:before {
	content: "\ec30";
}
.icofont-bread:before {
	content: "\ec31";
}
.icofont-broccoli:before {
	content: "\ec32";
}
.icofont-burger:before {
	content: "\ec33";
}
.icofont-cabbage:before {
	content: "\ec34";
}
.icofont-carrot:before {
	content: "\ec35";
}
.icofont-cauli-flower:before {
	content: "\ec36";
}
.icofont-cheese:before {
	content: "\ec37";
}
.icofont-chef:before {
	content: "\ec38";
}
.icofont-cherry:before {
	content: "\ec39";
}
.icofont-chicken-fry:before {
	content: "\ec3a";
}
.icofont-chicken:before {
	content: "\ec3b";
}
.icofont-cocktail:before {
	content: "\ec3c";
}
.icofont-coconut:before {
	content: "\ec3d";
}
.icofont-coffee-alt:before {
	content: "\ec3e";
}
.icofont-coffee-mug:before {
	content: "\ec3f";
}
.icofont-coffee-pot:before {
	content: "\ec40";
}
.icofont-cola:before {
	content: "\ec41";
}
.icofont-corn:before {
	content: "\ec42";
}
.icofont-croissant:before {
	content: "\ec43";
}
.icofont-crop-plant:before {
	content: "\ec44";
}
.icofont-cucumber:before {
	content: "\ec45";
}
.icofont-cup-cake:before {
	content: "\ec46";
}
.icofont-dining-table:before {
	content: "\ec47";
}
.icofont-donut:before {
	content: "\ec48";
}
.icofont-egg-plant:before {
	content: "\ec49";
}
.icofont-egg-poached:before {
	content: "\ec4a";
}
.icofont-farmer:before {
	content: "\ec4b";
}
.icofont-farmer1:before {
	content: "\ec4c";
}
.icofont-fast-food:before {
	content: "\ec4d";
}
.icofont-fish:before {
	content: "\ec4e";
}
.icofont-food-basket:before {
	content: "\ec4f";
}
.icofont-food-cart:before {
	content: "\ec50";
}
.icofont-fork-and-knife:before {
	content: "\ec51";
}
.icofont-french-fries:before {
	content: "\ec52";
}
.icofont-fresh-juice:before {
	content: "\ec53";
}
.icofont-fruits:before {
	content: "\ec54";
}
.icofont-grapes:before {
	content: "\ec55";
}
.icofont-honey:before {
	content: "\ec56";
}
.icofont-hot-dog:before {
	content: "\ec57";
}
.icofont-hotel-alt:before {
	content: "\ec58";
}
.icofont-ice-cream-alt:before {
	content: "\ec59";
}
.icofont-ice-cream:before {
	content: "\ec5a";
}
.icofont-ketchup:before {
	content: "\ec5b";
}
.icofont-kiwi:before {
	content: "\ec5c";
}
.icofont-layered-cake:before {
	content: "\ec5d";
}
.icofont-lemon-alt:before {
	content: "\ec5e";
}
.icofont-lobster:before {
	content: "\ec5f";
}
.icofont-mango:before {
	content: "\ec60";
}
.icofont-milk:before {
	content: "\ec61";
}
.icofont-mushroom:before {
	content: "\ec62";
}
.icofont-noodles:before {
	content: "\ec63";
}
.icofont-onion:before {
	content: "\ec64";
}
.icofont-orange:before {
	content: "\ec65";
}
.icofont-pear:before {
	content: "\ec66";
}
.icofont-peas:before {
	content: "\ec67";
}
.icofont-pepper:before {
	content: "\ec68";
}
.icofont-pie-alt:before {
	content: "\ec69";
}
.icofont-pineapple:before {
	content: "\ec6a";
}
.icofont-pizza-slice:before {
	content: "\ec6b";
}
.icofont-pizza:before {
	content: "\ec6c";
}
.icofont-plant:before {
	content: "\ec6d";
}
.icofont-popcorn:before {
	content: "\ec6e";
}
.icofont-potato:before {
	content: "\ec6f";
}
.icofont-pumpkin:before {
	content: "\ec70";
}
.icofont-raddish:before {
	content: "\ec71";
}
.icofont-restaurant-menu:before {
	content: "\ec72";
}
.icofont-restaurant:before {
	content: "\ec73";
}
.icofont-salt-and-pepper:before {
	content: "\ec74";
}
.icofont-sandwich:before {
	content: "\ec75";
}
.icofont-sausage:before {
	content: "\ec76";
}
.icofont-shrimp:before {
	content: "\ec77";
}
.icofont-sof-drinks:before {
	content: "\ec78";
}
.icofont-soup-bowl:before {
	content: "\ec79";
}
.icofont-spoon-and-fork:before {
	content: "\ec7a";
}
.icofont-steak:before {
	content: "\ec7b";
}
.icofont-strawberry:before {
	content: "\ec7c";
}
.icofont-sub-sandwich:before {
	content: "\ec7d";
}
.icofont-sushi:before {
	content: "\ec7e";
}
.icofont-taco:before {
	content: "\ec7f";
}
.icofont-tea-pot:before {
	content: "\ec80";
}
.icofont-tea:before {
	content: "\ec81";
}
.icofont-tomato:before {
	content: "\ec82";
}
.icofont-waiter-alt:before {
	content: "\ec83";
}
.icofont-watermelon:before {
	content: "\ec84";
}
.icofont-wheat:before {
	content: "\ec85";
}

/*Font size*/
.icofont-lg {
		font-size: 1.33333333em;
		line-height: .75em;
		vertical-align: -15%
}

.icofont-2x {
		font-size: 2em
}

.icofont-3x {
		font-size: 3em
}

.icofont-4x {
		font-size: 4em
}

.icofont-5x {
		font-size: 5em
}

.icofont-fw {
		display: inline-block;
		width: 1.28571429em;
		text-align: center
}

/*Fixed Width Icons*/
.icofont-fw {
		width: 1.28571429em;
		text-align: center;
}

/*Custom list icons*/
.icofont-ul {
		padding-left: 0;
		margin-left: 2.14285714em;
		list-style-type: none;
}
.icofont-ul>li {
		position: relative;
}
.icofont-li {
		position: absolute;
		left: -2.14285714em;
		width: 2.14285714em;
		top: .14285714em;
		text-align: center;
}

/*Animation*/
.icofont-rotate {
		-webkit-animation: icofont-rotate 2s infinite linear;
		animation: icofont-rotate 2s infinite linear
}

@-webkit-keyframes icofont-rotate {
		0% {
				-webkit-transform: rotate(0deg);
				transform: rotate(0deg)
		}
		100% {
				-webkit-transform: rotate(359deg);
				transform: rotate(359deg)
		}
}

@keyframes icofont-rotate {
		0% {
				-webkit-transform: rotate(0deg);
				transform: rotate(0deg)
		}
		100% {
				-webkit-transform: rotate(359deg);
				transform: rotate(359deg)
		}
}