<header>
            <div class="intro-text">
                <div class="intro-heading">Auf ein Bierchen</div>
                <div class="intro-lead-in"><b>Biere</b> bewerten - <b>Biere</b> suchen - <b>Biere</b> finden</div>
                <%= link_to "Jetzt anmelden", signup_path, :class=>"page-scroll btn btn-xl" %>
                <%= link_to "Einloggen", login_path, :class=>"page-scroll btn btn-xl btn-green" %>
            </div>
</header>