

            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="root_path"><%= link_to image_tag('Aufeinbierchen.png', class: 'pull-left'), root_path %></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <%= link_to "Biere", beers_path %>
                    </li>
                    <li>
                        <%= link_to "Mitglieder", users_path %>
                    </li>
                    <li>
                        <%= link_to "Blog", blog_path %>
                        
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Kontakt</a>
                    </li>
                    <% if logged_in? %>
                    <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Profil <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><%= link_to "Profil", current_user %></li>
                    <li><%= link_to "Einstellungen", edit_user_path(current_user) %></li>
                    <li class="divider"></li>
                    <li>
                        <%= link_to "Abmelden", logout_path, method: "delete" %>
                    </li>
                </ul>
                </li>
                    <% else %>
                    <li>
                        <%= link_to "Login", login_path %>
                    </li>
                    <% end %>
                </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>


  







