<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
      <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700,800' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Bevan' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css">
      <link href='https://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Lato:400,700,300,900' rel='stylesheet' type='text/css'>
      <link href="stylesheets/jquery.socialist.css" rel="stylesheet" />
      <link href="stylesheets/star-rating.css" media="all" rel="stylesheet" type="text/css" />
      <link href="stylesheets/theme-krajee-fa.css" media="all" rel="stylesheet" type="text/css" />
      <script src='javascripts/jquery.socialist.js'></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
      <%= yield :javascript_includes %>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body id="page-top">

    <%= render 'layouts/nav' %>
      <% unless logged_in? %>
    <%= render 'layouts/header' %>
          <% else %>
        <% end %>
         <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
            
        <%= render 'layouts/footer' %>
        <%= debug(params) if Rails.env.development? %>
<script src="javascripts/star-rating.js" type="text/javascript"></script>
<script src="path/to/js/star-rating_locale_de.js"></script>
  </body>
</html>
